@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


.nav-container {
    width: 90%;
    height: 50px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.logo-container {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.logo-text {
    font-size: 32px;
    font-weight: 700;
}

.nav-item-container {
    height: 80%;
    width: 90px;
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: oklch(95.6% 0.045 203.388);
    display: flex;
    align-items: center;
}

.nav-item-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}

.footer-container {
    width: 100%;
    height: 50px;
    background-color: rgb(34, 47, 88);
    box-shadow: 0px 0px 10px 0px black;
}